.input {
  height: 45px;
  margin-right: 5px;
  background-color: rgb(54, 51, 51);
  border-color: rgb(68, 66, 66);
  color: rgb(241, 235, 235);
  font-family: "Times New Roman", Times, serif;
}

.company_name {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}
.more {
  text-decoration: none;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
.center {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
h4 {
  color: #dce0dd;
  font-family: "Times New Roman", Times, serif;
}

/* candidate_required_location: "Europe"
category: "Software Development"
company_logo_url: "https://remotive.io/job/887861/logo"
company_name: "Luko"
description: "<p style=\"box-sizing: inherit; transition: color
job_type: "full_time"
publication_date: "2021-09-08T17:11:15.000Z"
salary: "$55-80K/year"
title: "Senior Engineer - Mobile App (React Native)"
url: "https://remotive.io/remote-jobs/software-dev/senior-engineer-mobile-app-react-native-887861"
_id: "613f8896c1c0b3646447b138" */
